.container-header{
  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}
.container-header button{
  font-size: 40px;
  background-color: white;
  border: 0;
}
.container-header button:hover{
  text-decoration: underline;
  cursor: pointer;
}


